# Dependencies
# ---------------------------------
node_modules/

# Sensitive Information & Secrets
# ---------------------------------
# Ignore environment variables
.env
.env.local

# Ignore keystore files containing private keys
voter-keystore.json
*.json # Be careful with this, but good if all root-level json files are keys

# Build Artifacts & Caches
# ---------------------------------
# Output from tools like Hardhat or Truffle
/artifacts
/cache
/build

# Log files
# ---------------------------------
*.log
npm-debug.log*

# OS & Editor specific files
# ---------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/